<%= form_for @photo, url: {action:'update_row'}, html: {method: :put} do |f|%>
  <div>
    <%= f.label :source, "Image URL" %>
    <%= f.text_field :source %>
  </div>
  <div>
    <%= f.label :caption, "Caption" %>
    <%= f.text_field :caption %>
  </div>
  <%= submit_tag 'Update Photo' %>
<% end %>
