<%= form_for @photo, url: {action:'create_row'} do |f|%>
  <div>
    <%= f.label :source, "Image URL" %>
    <%= f.text_field :source %>
  </div>
  <div>
    <%= f.label :caption, "Caption" %>
    <%= f.text_field :caption %>
  </div>
  <%= submit_tag 'Create Photo' %>
<% end %>
