<div class="container">
  <div class="col-md-6">

    <h1>Photo Details</h1>

    <p>
      <%= @photo.caption %>
    </p>

    <%= image_tag(@photo.source) %>

    <p>
      <%= time_ago_in_words(@photo.created_at)%>
    </p>

    <%= link_to "Go back", photos_path, class: "btn btn-default"%>

    <%= link_to "Edit", {controller: 'pictures', action: 'edit_form', id: @photo.id}, class: "btn btn-default"%>

    <%= link_to "Delete", {controller: 'pictures', action: 'destroy_row', id: @photo.id}, class: "btn btn-default"%>

  </div>
</div>
